body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  clear: both;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.column-left {
  flex:20%;
}

.column-right {
  flex:80%;
}

.navbar {
  padding: 0px;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2cc;
}
.navbar h1 {
  color: #0d3580;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}