body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  clear: both;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.column-left {
  flex:20%;
}

.column-right {
  flex:80%;
}

/* @tailwind base; 
@tailwind components;
@tailwind utilities; */